* {
  margin: 0;
  font-family: sans-serif;
}

body {
    background-color: rgb(101, 79, 151);
    height: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 100px 1fr;
}

body > h1 {
  grid-column-start: 2;
}

.toggleContainer {
  display: grid;

  gap: 20px;

  justify-items: center;
}

.toggleContainer > h2 {
  width: 100%;
}

.toggleHide {
  display: none;
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #1a612f;
    transition: background-color ease 0.3s;
  }
  
  .toggle:before {
    content: "O X";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -20px;
    word-spacing: 50px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #4ca5d9;
  }
  
  .toggle:checked:before {
    left: 32px;
  }

.gboard {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-column-start: 2;

    height: 640px;
    width: 640px;
}

.left-border {
  border-right: 2px solid black;
}

.top-border {
  border-bottom: 2px solid black;
}

.right-border {
  border-left: 2px solid black;
}

.bot-border {
  border-top: 2px solid black;
}

.tiles {
  display: grid;
  justify-content: center;
  align-items: center;

  font-size: 10rem;
  font-family:'Courier New', Courier, monospace;
}

/* LEFT SIDE */
.left-panel {
  display: grid;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 4;

  align-items: center;

  background-color: rgb(230, 186, 134);
}

.menuItems {
  display: grid;
  gap: 5px;

  margin: 20px;
}

div + #playerNames {
  visibility: hidden;
}