body {
    background-color: rgb(74, 58, 112);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gboard {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    height: 640px;
    width: 640px;
}

.tiles {
    /* width: 100%; */
}